{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/news.css')}}">
{% endblock %}
{% block content%}
<div class="container">
    <h2 style="color:maroon; text-align:center">News Headlines</h2>
    <hr>

    <!-- Poster background -->
    <div class="newsarticles" style="align-content: center;">
        <div class="row">
            
            {% for new in news %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 posterPath" style="background: url({{new.poster}}) no-repeat center center; margin-top: 30px;">
                        <img src="{{new.urlImage}}" height="200px, width=50px",float="no-repeat center center">
                    </div>
                    <br>
            
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 news-details">
                        
                        <h3>{{ new.title }}</h3>
                        <p class="author"> {{ new.author}}</p> 
                        <p class="content"> {{ new.description }}</p>
                        <p class="date">{{ new.publishedAt}}</p>
                        <button><a class="ratings" href="{{new.url}}" class="claudine" style="color: blue">Read more</a></button>
            
                    </div>
                    {%endfor%}
        </div>
    </div>

</div>
{% endblock %}